WCF/CacheDataLocally/WpfClient/Service References/WcfServices/WcfService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1397/WcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServices" />
  <xs:element name="GetPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aPersonId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPersonResult" type="xs:boolean" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="aPerson" nillable="true" type="q1:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPeople">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPeopleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllPeopleResult" type="xs:boolean" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="aPeople" nillable="true" type="q2:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>