AppDomainProtection/SynNetWcf/TestClient/Service References/PartsService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56565/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PartsSystem" />
  <xs:complexType name="ReadSupplierPartsResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="Result" nillable="true" type="q1:ArrayOfPart" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="Status" type="q2:MethodStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadSupplierPartsResponse" nillable="true" type="tns:ReadSupplierPartsResponse" />
  <xs:complexType name="PartReadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Grfa" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="Result" nillable="true" type="q3:Part" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="Status" type="q4:MethodStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartReadResponse" nillable="true" type="tns:PartReadResponse" />
  <xs:complexType name="PartReadAllResponse">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="Result" nillable="true" type="q5:ArrayOfPart" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="Status" type="q6:MethodStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartReadAllResponse" nillable="true" type="tns:PartReadAllResponse" />
  <xs:complexType name="PartUpdateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Grfa" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="Result" nillable="true" type="q7:Part" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="Status" type="q8:MethodStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartUpdateResponse" nillable="true" type="tns:PartUpdateResponse" />
  <xs:complexType name="ProductGroupReadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Grfa" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="Result" nillable="true" type="q9:ProductGroup" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="Status" type="q10:MethodStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductGroupReadResponse" nillable="true" type="tns:ProductGroupReadResponse" />
  <xs:complexType name="ProductGroupReadAllResponse">
    <xs:sequence>
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="Result" nillable="true" type="q11:ArrayOfProductGroup" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="Status" type="q12:MethodStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductGroupReadAllResponse" nillable="true" type="tns:ProductGroupReadAllResponse" />
  <xs:complexType name="ProductGroupUpdateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Grfa" nillable="true" type="xs:string" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="Result" nillable="true" type="q13:ProductGroup" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="Status" type="q14:MethodStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductGroupUpdateResponse" nillable="true" type="tns:ProductGroupUpdateResponse" />
  <xs:complexType name="SupplierReadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Grfa" nillable="true" type="xs:string" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="Result" nillable="true" type="q15:Supplier" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="Status" type="q16:MethodStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierReadResponse" nillable="true" type="tns:SupplierReadResponse" />
  <xs:complexType name="SupplierReadAllResponse">
    <xs:sequence>
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="Result" nillable="true" type="q17:ArrayOfSupplier" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="Status" type="q18:MethodStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierReadAllResponse" nillable="true" type="tns:SupplierReadAllResponse" />
  <xs:complexType name="SupplierUpdateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Grfa" nillable="true" type="xs:string" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="Result" nillable="true" type="q19:Supplier" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="Status" type="q20:MethodStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierUpdateResponse" nillable="true" type="tns:SupplierUpdateResponse" />
</xs:schema>