WCF/WcfServicesSharedCode/TestClient/Service References/CalculatorService/CalculatorService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Synergex.PSG.Examples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Synergex.PSG.Examples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Synergex.PSG.Examples/Imports">
      <xsd:import schemaLocation="http://localhost:2521/CalculatorService.svc?xsd=xsd0" namespace="http://Synergex.PSG.Examples" />
      <xsd:import schemaLocation="http://localhost:2521/CalculatorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISimpleCalculator_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ISimpleCalculator_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleCalculator_Subtract_InputMessage">
    <wsdl:part name="parameters" element="tns:Subtract" />
  </wsdl:message>
  <wsdl:message name="ISimpleCalculator_Subtract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubtractResponse" />
  </wsdl:message>
  <wsdl:message name="IComplexCalculator_ComplexAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:ComplexAdd" />
  </wsdl:message>
  <wsdl:message name="IComplexCalculator_ComplexAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComplexAddResponse" />
  </wsdl:message>
  <wsdl:message name="IComplexCalculator_ComplexSubtract_InputMessage">
    <wsdl:part name="parameters" element="tns:ComplexSubtract" />
  </wsdl:message>
  <wsdl:message name="IComplexCalculator_ComplexSubtract_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComplexSubtractResponse" />
  </wsdl:message>
  <wsdl:message name="IComplexCalculator_ComplexMultiply_InputMessage">
    <wsdl:part name="parameters" element="tns:ComplexMultiply" />
  </wsdl:message>
  <wsdl:message name="IComplexCalculator_ComplexMultiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComplexMultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="IComplexCalculator_ComplexDivide_InputMessage">
    <wsdl:part name="parameters" element="tns:ComplexDivide" />
  </wsdl:message>
  <wsdl:message name="IComplexCalculator_ComplexDivide_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComplexDivideResponse" />
  </wsdl:message>
  <wsdl:portType name="ISimpleCalculator">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://Synergex.PSG.Examples/ISimpleCalculator/Add" message="tns:ISimpleCalculator_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://Synergex.PSG.Examples/ISimpleCalculator/AddResponse" message="tns:ISimpleCalculator_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <wsdl:input wsaw:Action="http://Synergex.PSG.Examples/ISimpleCalculator/Subtract" message="tns:ISimpleCalculator_Subtract_InputMessage" />
      <wsdl:output wsaw:Action="http://Synergex.PSG.Examples/ISimpleCalculator/SubtractResponse" message="tns:ISimpleCalculator_Subtract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IComplexCalculator">
    <wsdl:operation name="ComplexAdd">
      <wsdl:input wsaw:Action="http://Synergex.PSG.Examples/IComplexCalculator/ComplexAdd" message="tns:IComplexCalculator_ComplexAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://Synergex.PSG.Examples/IComplexCalculator/ComplexAddResponse" message="tns:IComplexCalculator_ComplexAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComplexSubtract">
      <wsdl:input wsaw:Action="http://Synergex.PSG.Examples/IComplexCalculator/ComplexSubtract" message="tns:IComplexCalculator_ComplexSubtract_InputMessage" />
      <wsdl:output wsaw:Action="http://Synergex.PSG.Examples/IComplexCalculator/ComplexSubtractResponse" message="tns:IComplexCalculator_ComplexSubtract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComplexMultiply">
      <wsdl:input wsaw:Action="http://Synergex.PSG.Examples/IComplexCalculator/ComplexMultiply" message="tns:IComplexCalculator_ComplexMultiply_InputMessage" />
      <wsdl:output wsaw:Action="http://Synergex.PSG.Examples/IComplexCalculator/ComplexMultiplyResponse" message="tns:IComplexCalculator_ComplexMultiply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComplexDivide">
      <wsdl:input wsaw:Action="http://Synergex.PSG.Examples/IComplexCalculator/ComplexDivide" message="tns:IComplexCalculator_ComplexDivide_InputMessage" />
      <wsdl:output wsaw:Action="http://Synergex.PSG.Examples/IComplexCalculator/ComplexDivideResponse" message="tns:IComplexCalculator_ComplexDivide_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>