SPC2010_STEVE/11_PLATFORMS/MonoWinformsDemoWS/Web References/spc2010/SPC2010WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://psg.synergex.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://psg.synergex.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://psg.synergex.com/">
      <s:element name="GetCustomers">
        <s:complexType />
      </s:element>
      <s:element name="GetCustomersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomersResult" type="tns:ArrayOfCustomer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCustomer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateCreated" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateModified" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCustomerContacts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerContactsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerContactsResult" type="tns:ArrayOfContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Contact">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ContactId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Salutation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FriendlyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WorkPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HomePhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCustomerAddresses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerAddressesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerAddressesResult" type="tns:ArrayOfAddress" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AddressId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetContactForUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customerId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="contactId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactForUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetContactForUpdateResult" type="tns:Method_status" />
            <s:element minOccurs="0" maxOccurs="1" name="contact" type="tns:Contact" />
            <s:element minOccurs="0" maxOccurs="1" name="grfa" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Method_status">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="Info_error" />
          <s:enumeration value="Fatal_error" />
        </s:restriction>
      </s:simpleType>
      <s:element name="UpdateContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="contact" type="tns:Contact" />
            <s:element minOccurs="0" maxOccurs="1" name="grfa" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateContactResult" type="tns:Method_status" />
            <s:element minOccurs="0" maxOccurs="1" name="contact" type="tns:Contact" />
            <s:element minOccurs="0" maxOccurs="1" name="grfa" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCustomersSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="GetCustomersSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerContactsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerContacts" />
  </wsdl:message>
  <wsdl:message name="GetCustomerContactsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerContactsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerAddressesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerAddresses" />
  </wsdl:message>
  <wsdl:message name="GetCustomerAddressesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerAddressesResponse" />
  </wsdl:message>
  <wsdl:message name="GetContactForUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:GetContactForUpdate" />
  </wsdl:message>
  <wsdl:message name="GetContactForUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:GetContactForUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateContactSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateContact" />
  </wsdl:message>
  <wsdl:message name="UpdateContactSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateContactResponse" />
  </wsdl:message>
  <wsdl:portType name="SPC2010WebServiceSoap">
    <wsdl:operation name="GetCustomers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a collection of all customer ID's and names.</wsdl:documentation>
      <wsdl:input message="tns:GetCustomersSoapIn" />
      <wsdl:output message="tns:GetCustomersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerContacts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a collection of all contacts for a customer.</wsdl:documentation>
      <wsdl:input message="tns:GetCustomerContactsSoapIn" />
      <wsdl:output message="tns:GetCustomerContactsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerAddresses">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a collection of all addresses for a customer.</wsdl:documentation>
      <wsdl:input message="tns:GetCustomerAddressesSoapIn" />
      <wsdl:output message="tns:GetCustomerAddressesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContactForUpdate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a current contact record and its current GRFA</wsdl:documentation>
      <wsdl:input message="tns:GetContactForUpdateSoapIn" />
      <wsdl:output message="tns:GetContactForUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates a contact record if it hasn't already been changed by another user</wsdl:documentation>
      <wsdl:input message="tns:UpdateContactSoapIn" />
      <wsdl:output message="tns:UpdateContactSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SPC2010WebServiceSoap" type="tns:SPC2010WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://psg.synergex.com/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerContacts">
      <soap:operation soapAction="http://psg.synergex.com/GetCustomerContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerAddresses">
      <soap:operation soapAction="http://psg.synergex.com/GetCustomerAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactForUpdate">
      <soap:operation soapAction="http://psg.synergex.com/GetContactForUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <soap:operation soapAction="http://psg.synergex.com/UpdateContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SPC2010WebServiceSoap12" type="tns:SPC2010WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomers">
      <soap12:operation soapAction="http://psg.synergex.com/GetCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerContacts">
      <soap12:operation soapAction="http://psg.synergex.com/GetCustomerContacts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerAddresses">
      <soap12:operation soapAction="http://psg.synergex.com/GetCustomerAddresses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactForUpdate">
      <soap12:operation soapAction="http://psg.synergex.com/GetContactForUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <soap12:operation soapAction="http://psg.synergex.com/UpdateContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SPC2010WebService">
    <wsdl:port name="SPC2010WebServiceSoap" binding="tns:SPC2010WebServiceSoap">
      <soap:address location="http://localhost/spc2010/SPC2010WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SPC2010WebServiceSoap12" binding="tns:SPC2010WebServiceSoap12">
      <soap12:address location="http://localhost/spc2010/SPC2010WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>