WCF/SynNetWcfWithAppDomainProtection/TestClient/Service References/PartsService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PartsSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PartsSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Part" nillable="true" type="tns:Part" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPart" nillable="true" type="tns:ArrayOfPart" />
  <xs:complexType name="Part">
    <xs:sequence>
      <xs:element minOccurs="0" name="CostPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Groupid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Spare" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Supplierid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TechnicalInfo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Part" nillable="true" type="tns:Part" />
</xs:schema>