WCF/SynNetWcfWithAppDomainProtection/TestClient/Service References/PartsService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56565/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PartsSystem" />
  <xs:element name="CreatePart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="aPart" nillable="true" type="q1:Part" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="CreatePartResult" type="q2:MethodStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="ReadPartResult" type="q3:MethodStatus" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="aPart" nillable="true" type="q4:Part" />
        <xs:element minOccurs="0" name="aGrfa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllParts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllPartsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="ReadAllPartsResult" type="q5:MethodStatus" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="aParts" nillable="true" type="q6:ArrayOfPart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="aPart" nillable="true" type="q7:Part" />
        <xs:element minOccurs="0" name="aGrfa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="UpdatePartResult" type="q8:MethodStatus" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="aPart" nillable="true" type="q9:Part" />
        <xs:element minOccurs="0" name="aGrfa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aGrfa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="DeletePartResult" type="q10:MethodStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="PartExistsResult" type="q11:MethodStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="aProductGroup" nillable="true" type="q12:ProductGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="CreateProductGroupResult" type="q13:MethodStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadProductGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aGroupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadProductGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="ReadProductGroupResult" type="q14:MethodStatus" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="aProductGroup" nillable="true" type="q15:ProductGroup" />
        <xs:element minOccurs="0" name="aGrfa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllProductGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllProductGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="ReadAllProductGroupsResult" type="q16:MethodStatus" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="aProductGroups" nillable="true" type="q17:ArrayOfProductGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="aProductGroup" nillable="true" type="q18:ProductGroup" />
        <xs:element minOccurs="0" name="aGrfa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="UpdateProductGroupResult" type="q19:MethodStatus" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="aProductGroup" nillable="true" type="q20:ProductGroup" />
        <xs:element minOccurs="0" name="aGrfa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aGrfa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="DeleteProductGroupResult" type="q21:MethodStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductGroupExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aGroupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductGroupExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="ProductGroupExistsResult" type="q22:MethodStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="aSupplier" nillable="true" type="q23:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="CreateSupplierResult" type="q24:MethodStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aSupplierId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="ReadSupplierResult" type="q25:MethodStatus" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="aSupplier" nillable="true" type="q26:Supplier" />
        <xs:element minOccurs="0" name="aGrfa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllSuppliers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllSuppliersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="ReadAllSuppliersResult" type="q27:MethodStatus" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="aSuppliers" nillable="true" type="q28:ArrayOfSupplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="aSupplier" nillable="true" type="q29:Supplier" />
        <xs:element minOccurs="0" name="aGrfa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="UpdateSupplierResult" type="q30:MethodStatus" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="aSupplier" nillable="true" type="q31:Supplier" />
        <xs:element minOccurs="0" name="aGrfa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aGrfa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="DeleteSupplierResult" type="q32:MethodStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupplierExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aSupplierId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupplierExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/PartsSystem" minOccurs="0" name="SupplierExistsResult" type="q33:MethodStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>