WinForms/CommunityClient/Web References/webserver/galleryservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://communityserver.org/gallery/services/posts/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://communityserver.org/gallery/services/posts/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Community Server :: Photo Posting Web Service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://communityserver.org/gallery/services/posts/">
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="post" type="tns:GalleryPost" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GalleryPost">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PostID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Filename" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContentType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FileSize" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="PictureData" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Categories" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceCredentials" type="tns:ServiceCredentials" />
      <s:complexType name="ServiceCredentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SectionName" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="post" type="tns:GalleryPost" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="postID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCategories">
        <s:complexType />
      </s:element>
      <s:element name="GetCategoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCategoriesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAlbumHeirarchy">
        <s:complexType />
      </s:element>
      <s:element name="GetAlbumHeirarchyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAlbumHeirarchyResult" type="tns:ArrayOfAlbum" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAlbum">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Album" type="tns:Album" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Album">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PhotoCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Albums" type="tns:ArrayOfAlbum" />
        </s:sequence>
      </s:complexType>
      <s:element name="Galleries">
        <s:complexType />
      </s:element>
      <s:element name="GalleriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GalleriesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPictures">
        <s:complexType />
      </s:element>
      <s:element name="GetPicturesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPicturesResult" type="tns:ArrayOfGalleryPost" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGalleryPost">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GalleryPost" type="tns:GalleryPost" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPicture">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pictureID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPictureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPictureResult" type="tns:GalleryPost" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAlbumPictures">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="albumID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAlbumPicturesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAlbumPicturesResult" type="tns:ArrayOfGalleryPost" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSupportedExtensions">
        <s:complexType />
      </s:element>
      <s:element name="GetSupportedExtensionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSupportedExtensionsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Validate">
        <s:complexType />
      </s:element>
      <s:element name="ValidateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="CreateServiceCredentials">
    <wsdl:part name="ServiceCredentials" element="tns:ServiceCredentials" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateServiceCredentials">
    <wsdl:part name="ServiceCredentials" element="tns:ServiceCredentials" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteServiceCredentials">
    <wsdl:part name="ServiceCredentials" element="tns:ServiceCredentials" />
  </wsdl:message>
  <wsdl:message name="GetCategoriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="GetCategoriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCategoriesServiceCredentials">
    <wsdl:part name="ServiceCredentials" element="tns:ServiceCredentials" />
  </wsdl:message>
  <wsdl:message name="GetAlbumHeirarchySoapIn">
    <wsdl:part name="parameters" element="tns:GetAlbumHeirarchy" />
  </wsdl:message>
  <wsdl:message name="GetAlbumHeirarchySoapOut">
    <wsdl:part name="parameters" element="tns:GetAlbumHeirarchyResponse" />
  </wsdl:message>
  <wsdl:message name="GetAlbumHeirarchyServiceCredentials">
    <wsdl:part name="ServiceCredentials" element="tns:ServiceCredentials" />
  </wsdl:message>
  <wsdl:message name="GalleriesSoapIn">
    <wsdl:part name="parameters" element="tns:Galleries" />
  </wsdl:message>
  <wsdl:message name="GalleriesSoapOut">
    <wsdl:part name="parameters" element="tns:GalleriesResponse" />
  </wsdl:message>
  <wsdl:message name="GalleriesServiceCredentials">
    <wsdl:part name="ServiceCredentials" element="tns:ServiceCredentials" />
  </wsdl:message>
  <wsdl:message name="GetPicturesSoapIn">
    <wsdl:part name="parameters" element="tns:GetPictures" />
  </wsdl:message>
  <wsdl:message name="GetPicturesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPicturesResponse" />
  </wsdl:message>
  <wsdl:message name="GetPicturesServiceCredentials">
    <wsdl:part name="ServiceCredentials" element="tns:ServiceCredentials" />
  </wsdl:message>
  <wsdl:message name="GetPictureSoapIn">
    <wsdl:part name="parameters" element="tns:GetPicture" />
  </wsdl:message>
  <wsdl:message name="GetPictureSoapOut">
    <wsdl:part name="parameters" element="tns:GetPictureResponse" />
  </wsdl:message>
  <wsdl:message name="GetPictureServiceCredentials">
    <wsdl:part name="ServiceCredentials" element="tns:ServiceCredentials" />
  </wsdl:message>
  <wsdl:message name="GetAlbumPicturesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAlbumPictures" />
  </wsdl:message>
  <wsdl:message name="GetAlbumPicturesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAlbumPicturesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAlbumPicturesServiceCredentials">
    <wsdl:part name="ServiceCredentials" element="tns:ServiceCredentials" />
  </wsdl:message>
  <wsdl:message name="GetSupportedExtensionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSupportedExtensions" />
  </wsdl:message>
  <wsdl:message name="GetSupportedExtensionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSupportedExtensionsResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateSoapIn">
    <wsdl:part name="parameters" element="tns:Validate" />
  </wsdl:message>
  <wsdl:message name="ValidateSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateServiceCredentials">
    <wsdl:part name="ServiceCredentials" element="tns:ServiceCredentials" />
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="GalleryServiceSoap">
    <wsdl:operation name="Create">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates a new gallery post</wsdl:documentation>
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update an existing post</wsdl:documentation>
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes a post by the PostID</wsdl:documentation>
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of category names for the current Gallery</wsdl:documentation>
      <wsdl:input message="tns:GetCategoriesSoapIn" />
      <wsdl:output message="tns:GetCategoriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAlbumHeirarchy">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a heirarchical list of Albums in the current gallery</wsdl:documentation>
      <wsdl:input message="tns:GetAlbumHeirarchySoapIn" />
      <wsdl:output message="tns:GetAlbumHeirarchySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Galleries">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of galleries the current user has post access to</wsdl:documentation>
      <wsdl:input message="tns:GalleriesSoapIn" />
      <wsdl:output message="tns:GalleriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPictures">
      <wsdl:input message="tns:GetPicturesSoapIn" />
      <wsdl:output message="tns:GetPicturesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPicture">
      <wsdl:input message="tns:GetPictureSoapIn" />
      <wsdl:output message="tns:GetPictureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAlbumPictures">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of Photos in the specified album in the current gallery</wsdl:documentation>
      <wsdl:input message="tns:GetAlbumPicturesSoapIn" />
      <wsdl:output message="tns:GetAlbumPicturesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSupportedFileExtensions">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of file extensions that are allowed to be uploaded</wsdl:documentation>
      <wsdl:input name="GetSupportedExtensions" message="tns:GetSupportedExtensionsSoapIn" />
      <wsdl:output name="GetSupportedExtensions" message="tns:GetSupportedExtensionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates a users credentials for a specific Section</wsdl:documentation>
      <wsdl:input message="tns:ValidateSoapIn" />
      <wsdl:output message="tns:ValidateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enables pinging to see if the site is online</wsdl:documentation>
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GalleryServiceSoap" type="tns:GalleryServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://communityserver.org/gallery/services/posts/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CreateServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://communityserver.org/gallery/services/posts/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://communityserver.org/gallery/services/posts/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://communityserver.org/gallery/services/posts/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCategoriesServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlbumHeirarchy">
      <soap:operation soapAction="http://communityserver.org/gallery/services/posts/GetAlbumHeirarchy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAlbumHeirarchyServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Galleries">
      <soap:operation soapAction="http://communityserver.org/gallery/services/posts/Galleries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GalleriesServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPictures">
      <soap:operation soapAction="http://communityserver.org/gallery/services/posts/GetPictures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetPicturesServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPicture">
      <soap:operation soapAction="http://communityserver.org/gallery/services/posts/GetPicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetPictureServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlbumPictures">
      <soap:operation soapAction="http://communityserver.org/gallery/services/posts/GetAlbumPictures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAlbumPicturesServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportedFileExtensions">
      <soap:operation soapAction="http://communityserver.org/gallery/services/posts/GetSupportedExtensions" style="document" />
      <wsdl:input name="GetSupportedExtensions">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetSupportedExtensions">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap:operation soapAction="http://communityserver.org/gallery/services/posts/Validate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ValidateServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://communityserver.org/gallery/services/posts/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GalleryServiceSoap12" type="tns:GalleryServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://communityserver.org/gallery/services/posts/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CreateServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://communityserver.org/gallery/services/posts/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://communityserver.org/gallery/services/posts/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap12:operation soapAction="http://communityserver.org/gallery/services/posts/GetCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCategoriesServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlbumHeirarchy">
      <soap12:operation soapAction="http://communityserver.org/gallery/services/posts/GetAlbumHeirarchy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetAlbumHeirarchyServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Galleries">
      <soap12:operation soapAction="http://communityserver.org/gallery/services/posts/Galleries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GalleriesServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPictures">
      <soap12:operation soapAction="http://communityserver.org/gallery/services/posts/GetPictures" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetPicturesServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPicture">
      <soap12:operation soapAction="http://communityserver.org/gallery/services/posts/GetPicture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetPictureServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlbumPictures">
      <soap12:operation soapAction="http://communityserver.org/gallery/services/posts/GetAlbumPictures" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetAlbumPicturesServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportedFileExtensions">
      <soap12:operation soapAction="http://communityserver.org/gallery/services/posts/GetSupportedExtensions" style="document" />
      <wsdl:input name="GetSupportedExtensions">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetSupportedExtensions">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap12:operation soapAction="http://communityserver.org/gallery/services/posts/Validate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ValidateServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://communityserver.org/gallery/services/posts/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GalleryService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Community Server :: Photo Posting Web Service</wsdl:documentation>
    <wsdl:port name="GalleryServiceSoap" binding="tns:GalleryServiceSoap">
      <soap:address location="http://ivesworld.com/community/photos/galleryservice.asmx" />
    </wsdl:port>
    <wsdl:port name="GalleryServiceSoap12" binding="tns:GalleryServiceSoap12">
      <soap12:address location="http://ivesworld.com/community/photos/galleryservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>