Language/UTILITY/test/sdcrcm.dtd

<?xml version="1.0"?>

  <!ELEMENT SDCRCM_LIST (SDCRCM*)>

    <!ELEMENT SDCRCM (NONAME_001?,CRCCRC,CRCKY0?,CRCNAM,NONAME_002?)>

      <!ELEMENT NONAME_001 (#PCDATA)>
      <!ELEMENT CRCCRC (#PCDATA)>
      <!ELEMENT CRCKY0 (#PCDATA)>
      <!ELEMENT CRCNAM (#PCDATA)>
      <!ELEMENT NONAME_002 (#PCDATA)>

