Language/UTILITY/test/sdsgcm.dtd

<?xml version="1.0"?>

  <!ELEMENT SDSGCM_LIST (SDSGCM*)>

    <!ELEMENT SDSGCM (NONAME_001?,SGCSGC?,SGCKY0?,SGCSGD,NONAME_002?)>

      <!ELEMENT NONAME_001 (#PCDATA)>
      <!ELEMENT SGCSGC (#PCDATA)>
      <!ELEMENT SGCKY0 (#PCDATA)>
      <!ELEMENT SGCSGD (#PCDATA)>
      <!ELEMENT NONAME_002 (#PCDATA)>

